/* html{
    font-size: 62.5%;
} */
body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-wrap: nowrap;
    width: 98%;
    margin: 10px;
    justify-content: space-around;
}
.input-section{
    display: flex;
    width: 60%;
    overflow: hidden;
}
.logo{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 33px;
    cursor: pointer;
}
.right-icons{
    color: darkgrey;
    font-size: 1.2rem;
}
.fab.fa-youtube {
    color: red;
    padding-right: 5px;
  }
  .youtube {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.fas.fa-bars {
    margin: auto;
    font-size: 1.2rem;
    padding-right: 1rem;
}
.right-icons *{
    padding-right: 1rem;
} 
.fas.fa-search {
    margin: auto 0;
    border: .1px solid lightgray;
    padding: 8px 18px;
    background: #eee;
    position: relative;
    left: -2px;
    cursor: pointer;
    color: grey;
}

.fas.fa-search:hover{
    color: black;
    background: #dfdfdf;
}
.search{
   width: 80%;
}
.ico{
    padding-right:.5rem ;
    font-size: 1.2rem;
    margin: auto 0;
    cursor: pointer;
}


.video-section{
    padding: 2rem;
    display: flex;
}
.video-info {
    display: block;
    width: 100%;
    border-bottom: .5px solid grey;
  }
  .video-info::after{
      content: " ";
      clear: both;
      display: table;
  }
  .video-views {
    font-size: .8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgrey;
    float: left;
   
  }
  .icons-side{
    padding: 1rem 0 0 1rem;
    float: right;
    font-size: .8rem;
    color: darkgrey;
    padding-right: 1rem;
  }
  .icon-words{
    padding:0 5px 0 10px;
    color: grey;
    text-transform: uppercase;
  }
.video-main{
    width: 100vw;
    padding-top: 4rem;
}
.video-title{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 0;
}
.iframer{
    width: 95%;
    height: 50%;
    border: none;
}
.container{
    display: flex;
    padding-bottom: 1rem;
}
.image-container{
    font-size:100%;
    background-color: transparent;
    position:relative;
    top:0px;
    padding-right: 1rem;
    border-width: 0px;
    border-style: none;
    border-color: white;
    height: 94px;
    width: 168px;
    cursor: pointer;
}
.infor {
    line-height: 1rem;
    color: darkgrey;
    cursor: pointer;
  }
  .image-header {
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .image-description {
    font-size: .8rem;
  }
  .image-views {
    font-size: .6rem;
  }
  .heading{
      font-size: 1.2rem;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 100;
  }

  .btn{
      color: white;
      padding: .5rem 1rem;
      background: red;
      border-radius: 10px;
  }
  .btn:hover{
      background:rgb(6, 6, 131);
  }
  .video-des {
      display: flex;
      padding: 1rem 0;
      flex-direction: column;
}
.video-descriptions{
    padding-left: 1rem;
    float: left;
}

.video-author {
    float: left;
    margin-left: 1rem;

}
.description{
    display: flex;
    width: 60%;
    padding: .5rem 4rem;
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height: 1.3rem;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.description >p{
    color: grey;
    line-height: 1.6rem;
}
.subscribe{
    float: right;
    
    margin-right: 1rem;
}
  .img-frame {
    width: 50px;
    height: 50px;
    background-image: url(./img/videosidebar.jpeg);
    border-radius: 50rem;
    
    
    float: left;
  }

  /* make project little bit responsive */

  @media(max-width: 900px){
      .video-section{
          flex-direction: column;
          width: 90%;
      }
      .video-main{
          width: 100%;
      }
      .description{
          width: 100%;
          padding: 0;
      }
      .side-bar{
          margin-top: 13rem;
      }
      .input-section{
        width: 0;
        display: none;
      }
}
