/* html{
    font-size: 62.5%;
} */
body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-wrap: nowrap;
    width: 98%;
    margin: 10px;
    justify-content: space-around;
}
.input-section{
    width: 60%;
    display: flex;
}
.logo-icons{
   font-size: 1.2rem;
   cursor: pointer;
   padding-right: 1rem;
}
.right-icons{
    color: darkgrey;
    font-size: 1.2rem;
}
.fab.fa-youtube {
    color: red;
    padding-right: 5px;
  }
  .youtube {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.fas.fa-bars {
      padding-right: 1rem;
}
.right-icons *{
    padding-right: 1rem;
} 
.fas.fa-search {
    margin: auto 0;
    border: .1px solid lightgray;
    padding: 8px 18px;
    background: #eee;
    position: relative;
    left: -2px;
    cursor: pointer;
    color: grey;
}

.fas.fa-search:hover{
    color: black;
    background: #dfdfdf;
}
.search{
   width: 80%;
}
.ico{
    padding-right:.5rem ;
    font-size: 1.2rem;
    margin: auto 0;
    cursor: pointer;
}


.video-section{
    padding: 2rem;
    display: flex;
}
.video-info {
    display: block;
  
  }
  .video-views {
    font-size: .8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgrey;
    float: left;
   
  }
  .icons-side{
    padding: 1rem 0 0 1rem;
    float: right;
    font-size: .8rem;
    color: darkgrey;
  }
  .icon-words{
    padding:0 5px 0 10px;
    color: grey;
    text-transform: uppercase;
  }
.video-main{
    width: 100vw;
    padding-top: 4rem;
}
.video-title{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 0;
}
.iframer{
    width: 95%;
    height: 50%;
    border: none;
}
.container{
    display: flex;
    padding-bottom: 1rem;
}
.image-container{
    font-size:100%;
    background-color: transparent;
    position:relative;
    top:0px;
    padding-right: 1rem;
    border-width: 0px;
    border-style: none;
    border-color: white;
    height: 94px;
    width: 168px;

}
.infor {
    line-height: 1rem;
  }
  .image-header {
    color: blue;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .image-description {
    font-size: .8rem;
  }
  .image-views {
    font-size: .6rem;
  }
  .heading{
      font-size: 1.2rem;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 100;
  }

  .btn{
      color: white;
      padding: .5rem 1.5rem;
      background: blue;
      border-radius: 1rem;
  }
  .btn:hover{
      background:rgb(6, 6, 131);
  }