html{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.logo{
   font-size: 2.5rem;
}
.search{
    height: .4rem;
    width: 80%;
    padding: 18px;
    margin: auto 10px;
    border-radius: 20px;
}
.ico{
    padding-right:.5rem ;
    font-size: 1.8rem;
    margin: auto 0;
    cursor: pointer;
}
.icon-button{
    transform: translateX(-45px);
}
.video-section{
    padding: 2rem;
    display: flex;
}
.video-main{
    width: 60vw;
    margin-left: 10rem;
}
.video-title{
    font-size: 1.6rem;
    padding: 1.6rem 0;
}
.iframer{
    width: 90%;
    height: 600px;
}